@model IQueryable<agro_moist>

@{
    if (Model.Count() > 1)
    {
        <table>
            <thead>
                <tr><th><i>Дата</i></th><th><i>100 см</i></th><th><i>50 см</i></th><th><i>30 см</i></th><th><i>20 см</i></th><th><i>10 см</i></th><th><i>имя</i></th></tr>
            </thead>
            <tbody>
                @foreach (var measure in Model)
                {
                    DateTime date = new DateTime(measure.reg_date.Year, measure.reg_date.Month, measure.reg_date.Day, measure.reg_date.Hour, 0, 0);
                    <tr>
                        <td>@date.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>@measure.m1</td>
                        <td>@measure.m2</td>
                        <td>@measure.m3</td>
                        <td>@measure.m4</td>
                        <td>@measure.m5</td>
                        <td>@measure.sensor</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h1 class="info-header">Данных за выбранную дату нет.</h1>
    }
}