@model IQueryable<meteo1>
@{
    if (Model.Count() > 1)
    {
        <table>
            <thead>
                <tr><th><i>Дата</i></th><th><i>мм</i></th><th><i>люкс</i></th><th><i>влажность</i></th><th><i>℃ воздух</i></th><th><i>Напр. ветра</i></th><th><i>м/с</i></th></tr>
            </thead>
            <tbody>
                @foreach (var measure in Model)
                {
                    DateTime date = new DateTime(measure.reg_date.Year, measure.reg_date.Month, measure.reg_date.Day, measure.reg_date.Hour, measure.reg_date.Minute, 0, 0);
                    double winddir = @measure.wind_direction360/1200*360;
                    <tr>
                        <td>@date.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>@measure.optical_rainfall</td>
                        <td>@measure.light</td>
                        <td>@measure.humidity</td>
                        <td>@measure.temperature</td>
                        <td>@Math.Round(winddir, 1)</td>
                        <td>@measure.wind_speed</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h1 class="info-header">Данных за выбранную дату нет.</h1>
    }
}
    
