@model IQueryable<Measurement>
@{
    if (Model.Count() > 1)
    {
        <table>
            <thead>
                <tr><th>date</th><th>t_pov</th><th>far</th><th>rh</th><th>t</th><th>winddir</th><th>wind</th></tr>
            </thead>
            <tbody>
                @foreach (var measure in Model)
                {
                    DateTime date = new DateTime(measure.measure_date.Year, measure.measure_date.Month, measure.measure_date.Day, measure.measure_hour, measure.measure_min, 0, 0);
                    decimal winddir = @measure.winddir/1200*360;
                    <tr>
                        <td>@date.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>@measure.t_pov</td>
                        <td>@measure.far</td>
                        <td>@measure.rh</td>
                        <td>@measure.t</td>
                        <td>@Math.Round(winddir, 1)</td>
                        <td>@measure.wind</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h1 class="info-header">Данных за выбранную дату нет.</h1>
    }
}
    
